.projects.lapthanh-section
	.container
		h1.main-title Project

		.row.main-projects
			.col-lg-8
				a(href="/project-detail.html").project
					.img
						img(data-src='./img/duan/1.jpg', alt='').lazyload.blur-up
					.content
						p 2016
						h2 Blue ocean park i
						em.mdi.mdi-arrow-right
					.cover

			.col-lg-4
				a(href="/project-detail.html").project
					.img
						img(data-src='./img/duan/2.jpg', alt='').lazyload.blur-up
					.content
						p 2016
						h2 Blue ocean park i
						em.mdi.mdi-arrow-right
					.cover
				a(href="/project-detail.html").project
					.img
						img(data-src='./img/duan/2.jpg', alt='').lazyload.blur-up
					.content
						p 2016
						h2 Blue ocean park i
						em.mdi.mdi-arrow-right
					.cover

		.row.normal-projects
			.col-md-6.col-lg-4
				a(href="/project-detail.html").project
					.img
						img(data-src='./img/duan/2.jpg', alt='').lazyload.blur-up
					.content
						p 2016
						h2 Blue ocean park i
						em.mdi.mdi-arrow-right
					.cover
			.col-md-6.col-lg-4
				a(href="/project-detail.html").project
					.img
						img(data-src='./img/duan/2.jpg', alt='').lazyload.blur-up
					.content
						p 2016
						h2 Blue ocean park i
						em.mdi.mdi-arrow-right
					.cover
			.col-md-6.col-lg-4
				a(href="/project-detail.html").project
					.img
						img(data-src='./img/duan/2.jpg', alt='').lazyload.blur-up
					.content
						p 2016
						h2 Blue ocean park i
						em.mdi.mdi-arrow-right
					.cover
			.col-md-6.col-lg-4
				a(href="/project-detail.html").project
					.img
						img(data-src='./img/duan/2.jpg', alt='').lazyload.blur-up
					.content
						p 2016
						h2 Blue ocean park i
						em.mdi.mdi-arrow-right
					.cover
			.col-md-6.col-lg-4
				a(href="/project-detail.html").project
					.img
						img(data-src='./img/duan/2.jpg', alt='').lazyload.blur-up
					.content
						p 2016
						h2 Blue ocean park i
						em.mdi.mdi-arrow-right
					.cover
			.col-md-6.col-lg-4
				a(href="/project-detail.html").project
					.img
						img(data-src='./img/duan/2.jpg', alt='').lazyload.blur-up
					.content
						p 2016
						h2 Blue ocean park i
						em.mdi.mdi-arrow-right
					.cover

		.pages
			.modulepager
				ul.pagination
					li.PagerCurrentPageCell.active
						span.SelectedPage 1
					li.PagerOtherPageCells
						a.ModulePager(href='#') 2
					li.PagerOtherPageCells
						a.ModulePager(href='#') 3
					li.PagerOtherPageCells
						a.ModulePager(href='#') 4
					li.PagerOtherPageCells
						a.ModulePager(href='#') 5
					li.PagerOtherPageCells
						a.ModulePager(href='#') 6
					li.PagerOtherPageCells
						a.ModulePager(href='#') 7
					li.PagerOtherPageCells
						a.ModulePager(href='#') 8
					li.PagerOtherPageCells
						a.ModulePager(href='#') 9
					li.PagerOtherPageCells
						a.ModulePager.NextPage(href='#') ›
					li.PagerOtherPageCells
						a.ModulePager.LastPage(href='#') »