.recruitment-detail.lapthanh-section
	.container
		.row
			.col-md-8
				.job-info
					h2 Pattern designer
					date 19 Feb 2019
				h3 Employment information
				.table-main
					table
						tbody
							tr.odd
								th Work place
								th Lam Dong
							tr.even
								th Work place
								th Lam Dong
							tr.odd
								th Work place
								th Lam Dong
							tr.even
								th Work place
								th Lam Dong
				ul Welfare policy
					li Insurance according to regulations
					li Training to improve qualifications
					li Annual tourism
					li Salary increase
					li Rewards on Tet holidays
					li Good achievement
				ul
					li Insurance according to regulations
					li Insurance according to regulations
					li Insurance according to regulations
				.comfirm-btn
					.apply-now
						a(href="") Apply now
					span Or
					.download
						a(href="") download application form
			.col-md-4
				.other-position
					h2 Other position
					.position
						date 30/05/2019
						h3 Construction surveying Engineer  Sale Manager