.about-1.lapthanh-section
    .container
        h2.main-title About Lap thanh

        .row.no-gutters
            .col-lg-4
                .image(bg-img='./img/gioithieu/1.jpg' bg-img-mobile='./img/gioithieu/1.jpg')
            .col-lg-8.content
                h3 President's message
                p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.

        .desc 
            |Founded in 2000s, Lap Thanh is one of best company building and rental factories - workshop in Vietnam.  We operate in the large industrial area in the South during almost 20 years with the business philosophy: 
            strong "Build With Integrity"
            |. We are committed to bring the best value to all client and in every project based on three core values: 
            strong Honesty, Commitment, Quality and Efficiency.

        .row.about-block
            .col-sm-6.col-lg-3
                .block
                    .img
                        img(data-src='./img/gioithieu/i1.png', alt='').lazyload.blur-up
                    h2 Reliable &amp; Utility Infrastructure
            .col-sm-6.col-lg-3
                .block
                    .img
                        img(data-src='./img/gioithieu/i2.png', alt='').lazyload.blur-up
                    h2 Advanced Materials
            .col-sm-6.col-lg-3
                .block
                    .img
                        img(data-src='./img/gioithieu/i3.png', alt='').lazyload.blur-up
                    h2 Experienced Engineers
            .col-sm-6.col-lg-3
                .block
                    .img
                        img(data-src='./img/gioithieu/i4.png', alt='').lazyload.blur-up
                    h2 High technology

.about-2.lapthanh-section
    .container
        h2.main-title Vision - Mission - Core values
        .row
            .col-lg-6.image
                a(href="./img/gioithieu/2.png" data-fancybox="about-2")
                    img(data-src='./img/gioithieu/2.png', alt='').lazyload.blur-up
            .col-lg-6.content
                .block
                    h3(style="color: #115372;") Vision
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                .block(style="color: #0ea7b9;")
                    h3 Mission
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                .block(style="color: #6f7587;")
                    h3 Core values
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

.about-3.lapthanh-section
    .container
        h2.main-title Expert team

        .lapthanh-tab-v1
            .tab-headers
                .mobile
                    select
                        option(value="#tab-1") Board of Directors
                        option(value="#tab-2") Customer Service Department
                        option(value="#tab-3") Human Resource Department
                        option(value="#tab-4") Sales Department
                .desktop
                    a.active(href="javascript:void(0)" data-tab="#tab-1") Board of Directors
                    a(href="javascript:void(0)" data-tab="#tab-2") Customer Service Department
                    a(href="javascript:void(0)" data-tab="#tab-3") Human Resource Department
                    a(href="javascript:void(0)" data-tab="#tab-4") Sales Department

            .tab-contents
                .tab.active#tab-1
                    .row.item
                        .col-lg-4
                            .img
                                img(data-src='./img/gioithieu/3.jpg', alt='').lazyload.blur-up
                        .col-lg-8
                            .content
                                h3 Mr. Tran duy vu
                                h4 Deputy General director
                                h4 Experience
                                ul
                                    li
                                        p - Graduated with a Master degree in Artificial Systems Science from Chiba University, Japan
                                    li
                                        p - 6 years of experiences of general manager in General Affairs &amp; Human Resources Division, Design and Material Procurement Division of Japanese-affiliated company in Vietnam
                                    li
                                        p - Current position: Deputy General Director, in charge of Customer Service Department &amp; Sales Department of Lap Thanh
                                h4.language
                                    |Language:  
                                    span English, Japanese, Vietnamese
                    .row.item
                        .col-lg-4
                            .img
                                img(data-src='./img/gioithieu/4.jpg', alt='').lazyload.blur-up
                        .col-lg-8
                            .content
                                h3 Mr. Tran duy vu
                                h4 Deputy General director
                                h4 Experience
                                ul
                                    li
                                        p Graduated with a Master degree in Artificial Systems Science from Chiba University, Japan
                                    li
                                        p 6 years of experiences of general manager in General Affairs &amp; Human Resources Division, Design and Material Procurement Division of Japanese-affiliated company in Vietnam
                                    li
                                        p Current position: Deputy General Director, in charge of Customer Service Department &amp; Sales Department of Lap Thanh
                                h4
                                    |Language: 
                                    span English, Japanese, Vietnamese
                    .row.item
                        .col-lg-4
                            .img
                                img(data-src='./img/gioithieu/5.jpg', alt='').lazyload.blur-up
                        .col-lg-8
                            .content
                                h3 Mr. Tran duy vu
                                h4 Deputy General director
                                h4 Experience
                                ul
                                    li
                                        p Graduated with a Master degree in Artificial Systems Science from Chiba University, Japan
                                    li
                                        p 6 years of experiences of general manager in General Affairs &amp; Human Resources Division, Design and Material Procurement Division of Japanese-affiliated company in Vietnam
                                    li
                                        p Current position: Deputy General Director, in charge of Customer Service Department &amp; Sales Department of Lap Thanh
                                h4
                                    |Language: 
                                    span English, Japanese, Vietnamese
                .tab#tab-2
                    .row.item
                        .col-lg-4
                            .img
                                img(data-src='./img/gioithieu/4.jpg', alt='').lazyload.blur-up
                        .col-lg-8
                            .content
                                h3 Mr. Tran duy vu
                                h4 Deputy General director
                                h4 Experience
                                ul
                                    li
                                        p - Graduated with a Master degree in Artificial Systems Science from Chiba University, Japan
                                    li
                                        p - 6 years of experiences of general manager in General Affairs &amp; Human Resources Division, Design and Material Procurement Division of Japanese-affiliated company in Vietnam
                                    li
                                        p - Current position: Deputy General Director, in charge of Customer Service Department &amp; Sales Department of Lap Thanh
                                h4.language
                                    |Language:  
                                    span English, Japanese, Vietnamese
                .tab#tab-3
                .tab#tab-4