.news-detail.lapthanh-section
	.container
		.row
			.col-md-7.col-lg-8
				.details
					h2 Chia tay và hẹn gặp lại Công ty TNHH MTV SEAPAC VN
					date 09/08/2018
					p SEAPAC is a company producing products for fishing industry for the US market. This is a Korean company investing for the first time in Vietnam and is also one of the first investors of KIZUNA since 2015. After 3 years of operation at Lap Thanh Service Workshop, SEAPAC company has developed and achieve success in production and business activities, increase factory scale to 3 times.
					img(src="./img/tintuc/chitiet/item-1.jpg", alt="")
					p In September 2018, SEAPAC Company moved to another location more suitable to the scale and investment capacity of enterprises. Lap Thanh is sad about breaking up SEAPAC, but on the other hand it is also very happy to have contributed to their success. This is also a great motivation for Lap Thanh to continue researching and developing various products in the future. We wish SEAPAC company to continue to operate smoothly in the new environment. Lap Thanh will continue to accompany the company and look forward to the cooperation with SEAPAC once again in the new factory area with a larger scale and more suitable for the development of enterprises.
					img(src="./img/tintuc/chitiet/item-1.jpg", alt="")
					p In September 2018, SEAPAC Company moved to another location more suitable to the scale and investment capacity of enterprises. Lap Thanh is sad about breaking up SEAPAC, but on the other hand it is also very happy to have contributed to their success. This is also a great motivation for Lap Thanh to continue researching and developing various products in the future. We wish SEAPAC company to continue to operate smoothly in the new environment. Lap Thanh will continue to accompany the company and look forward to the cooperation with SEAPAC once again in the new factory area with a larger scale and more suitable for the development of enterprises.
			.col-md-5.col-lg-4
				.other-news
					h2 other news
					.news-item
						figure
							.boximg
								img(src="./img/tintuc/item-2.jpg", alt="")
							figcaption
								h3 Unlocking the Investment potential in VN
								date 09/08/2018
					.news-item
						figure
							.boximg
								img(src="./img/tintuc/item-2.jpg", alt="")
							figcaption
								h3 Unlocking the Investment potential in VN
								date 09/08/2018
					.news-item
						figure
							.boximg
								img(src="./img/tintuc/item-2.jpg", alt="")
							figcaption
								h3 Unlocking the Investment potential in VN
								date 09/08/2018
				.other-news
					h2 for investor
					.news-item
						figure
							.boximg
								img(src="./img/tintuc/item-2.jpg", alt="")
							figcaption
								h3 Unlocking the Investment potential in VN
								date 09/08/2018
					.news-item
						figure
							.boximg
								img(src="./img/tintuc/item-2.jpg", alt="")
							figcaption
								h3 Unlocking the Investment potential in VN
								date 09/08/2018
					.news-item
						figure
							.boximg
								img(src="./img/tintuc/item-2.jpg", alt="")
							figcaption
								h3 Unlocking the Investment potential in VN
								date 09/08/2018
