extends _layout.pug

block var
	- var title = 'Business'
	- var bodyClass = 'business-page'

block main
	include ../components/banner/trangrieng.pug
	include ../components/_global/breadcrumb.pug
	include ../components/business-detail/index.pug