extends _layout.pug

block var
	- var title = 'Contact'
	- var bodyClass = 'contact-page'

block main
	include ../components/banner/trangrieng.pug
	include ../components/_global/breadcrumb.pug
	include ../components/contact/index.pug