extends _layout.pug

block var
	- var title = 'Partner'
	- var bodyClass = 'partner-page'

block main
	include ../components/banner/trangrieng.pug
	include ../components/_global/breadcrumb.pug
	include ../components/partner/index.pug