extends _layout.pug

block var
	- var title = 'Recruitment'
	- var bodyClass = 'recruitment-page'

block main
	include ../components/banner/trangrieng.pug
	include ../components/_global/breadcrumb.pug
	include ../components/recruitment-detail/index.pug