.home
	.about-1.lapthanh-section
		.container
			h1.main-title About lap thanh
			.desc
				|Founded in 2000s, Lap Thanh is one of best company building and rental factories - workshop in Vietnam.  We operate in the large industrial area in the South during almost 20 years with the business philosophy: 
				strong "Build With Integrity"
				|. We are committed to bring the best value to all client and in every project based on three core values: 
				strong Honesty, Commitment, Quality and Efficiency.
			.row.about-block
				.col-sm-6.col-lg-3
					.block
						.img
							img(data-src='./img/gioithieu/i1.png', alt='').lazyload.blur-up
						h2 Reliable &amp; Utility Infrastructure
				.col-sm-6.col-lg-3
					.block
						.img
							img(data-src='./img/gioithieu/i2.png', alt='').lazyload.blur-up
						h2 Advanced Materials
				.col-sm-6.col-lg-3
					.block
						.img
							img(data-src='./img/gioithieu/i3.png', alt='').lazyload.blur-up
						h2 Experienced Engineers
				.col-sm-6.col-lg-3
					.block
						.img
							img(data-src='./img/gioithieu/i4.png', alt='').lazyload.blur-up
						h2 High technology
	.home-2(bg-img="./img/home/bg-factory.jpg" bg-img-mobile="./img/home/bg-factory.jpg")
		.container-fluid
			.row
				.col-lg-6
					.boximg
						img(src="./img/home/factory-for-rent.jpg", alt="")
				.col-lg-6
		.container
			.row
				.col-lg-6
					.boximg
				.col-lg-6
					.BriefContent
						h2 FACTORY FOR RENT SERVICE
						p Lap Thanh is proud to offer to the clients the most modern and solid factory. With experiences, technique and responsibility of engineer staff, Lap Thanh has completed many projects of industrial factory for rent for many investors from many countries around the area such as: American, Japan, Korea, Taiwan, Indonesia, and with more domestic business as Vietnam - Singapore IP, Amanta IP, SHTP, Tan Thuan EPZ,...
						.view-more
							a(href="") View more
	.projects.lapthanh-section
		.container
			h1.main-title Project
			.row.main-projects
				.col-lg-8
					a(href="/project-detail.html").project
						.img
							img(data-src='./img/duan/1.jpg', alt='').lazyload.blur-up
						.content
							p 2016
							h2 Blue ocean park i
							em.mdi.mdi-arrow-right
						.cover

				.col-lg-4
					a(href="/project-detail.html").project
						.img
							img(data-src='./img/duan/2.jpg', alt='').lazyload.blur-up
						.content
							p 2016
							h2 Blue ocean park i
							em.mdi.mdi-arrow-right
						.cover
					a(href="/project-detail.html").project
						.img
							img(data-src='./img/duan/2.jpg', alt='').lazyload.blur-up
						.content
							p 2016
							h2 Blue ocean park i
							em.mdi.mdi-arrow-right
						.cover
				.view-more
					a(href="") View more
	.news-detail
		.container
			.row
				.col-md-6
					.other-news
						h2 news
						.news-item
							figure
								.boximg
									img(src="./img/tintuc/item-2.jpg", alt="")
								figcaption
									h3 Unlocking the Investment potential in VN
									date 09/08/2018
						.news-item
							figure
								.boximg
									img(src="./img/tintuc/item-2.jpg", alt="")
								figcaption
									h3 Unlocking the Investment potential in VN
									date 09/08/2018
						.news-item
							figure
								.boximg
									img(src="./img/tintuc/item-2.jpg", alt="")
								figcaption
									h3 Unlocking the Investment potential in VN
									date 09/08/2018
				.col-md-6
					.other-news
						h2 for investor
						.news-item
							figure
								.boximg
									img(src="./img/tintuc/item-2.jpg", alt="")
								figcaption
									h3 Unlocking the Investment potential in VN
									date 09/08/2018
						.news-item
							figure
								.boximg
									img(src="./img/tintuc/item-2.jpg", alt="")
								figcaption
									h3 Unlocking the Investment potential in VN
									date 09/08/2018
						.news-item
							figure
								.boximg
									img(src="./img/tintuc/item-2.jpg", alt="")
								figcaption
									h3 Unlocking the Investment potential in VN
									date 09/08/2018
	.home-partner.lapthanh-section
		.container
			h1.main-title Investors &amp; partner
			.partner-slider
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a(href="javascript:void(0)" target="_blank").item
								img(data-src='./img/partner/10.png', alt='').lazyload.blur-up
						.swiper-slide
							a(href="javascript:void(0)" target="_blank").item
								img(data-src='./img/partner/10.png', alt='').lazyload.blur-up
						.swiper-slide
							a(href="javascript:void(0)" target="_blank").item
								img(data-src='./img/partner/10.png', alt='').lazyload.blur-up
						.swiper-slide
							a(href="javascript:void(0)" target="_blank").item
								img(data-src='./img/partner/10.png', alt='').lazyload.blur-up
						.swiper-slide
							a(href="javascript:void(0)" target="_blank").item
								img(data-src='./img/partner/10.png', alt='').lazyload.blur-up
						.swiper-slide
							a(href="javascript:void(0)" target="_blank").item
								img(data-src='./img/partner/10.png', alt='').lazyload.blur-up
					.swiper-buttons
						.btn-prev
							em.mdi.mdi-chevron-left
						.btn-next
							em.mdi.mdi-chevron-right