.contact.lapthanh-section
	.container
		h1.main-title Contact
		p Please fill in the information and send suggestions and questions to 
			strong Lap Thanh.
			br
			|We will respond to your email as soon as possible.
		.row
			.col-lg-4
				.contact-content
					figure
						.boximg
							img(src="./img/lienhe/logo.png", alt="")
						figcaption
							.contact-info
								a(href="https://goo.gl/maps/mUyuj2gGixaAJHqs8" target="_blank")
									em.mdi.mdi-map-marker
									span Lot I-10-2, D2 Str, Saigon High-Tech Park, Dist 9, HCM City, Vietnam
								a(href="tel:842839979874")
									em.mdi.mdi-phone
									span +84-28 3997 9874
								a(href="fax:842839979873")
									em.mdi.mdi-fax
									span +84-28 3997 9873
								a(href="mailto:trangltc@yahoo.com")
									em.mdi.mdi-email
									span trangltc@yahoo.com
			.col-lg-8
				.wrap-form
					.form-group
						label
						input(type="text" placeholder="Họ và tên...")
					.form-group
						label
						input(type="text" placeholder="Email...")
					.form-group
						label
						input(type="text" placeholder="Tiêu đề...")
					.form-group
						label
						input(type="text" placeholder="Số điện thoại...")
					.form-group
						label
						textarea(name="", cols="30", rows="10" placeholder="Nội dung...")
					.submit-form
						.captcha
							img(src="./img/lienhe/captcha-img.jpg", alt="")
						.return-btn
							img(src="./img/lienhe/return-btn.png", alt="")
						.form-group
							input(type="text" placeholder="Captcha...")
						.frm-btnwrap
								.frm-btn
									input.frm-btn-submit(type="submit" value="SEND")