.gallery.lapthanh-section
	.container
		h1.main-title Gallery
		.row
			.gallery-list
				a.active(href="gallery.html") Image
				a(href="gallery-videos.html") Video
		.row
			
				<a href="/Data/Sites/1/News/26/gallery1.jpg" data-fancybox="Gallery_1" fancybox-gallery="">
					.gallery-item
						figure
							.boximg
								img(src="./img/thuvien/images/item_1.jpg", alt="")
							figcaption
								h2 Album 1
			
				<a href="/Data/Sites/1/News/26/gallery1.jpg" data-fancybox="Gallery_2" fancybox-gallery="">
					.gallery-item
						figure
							.boximg
								img(src="./img/thuvien/images/item_1.jpg", alt="")
							figcaption
								h2 album 1
			
				<a href="/Data/Sites/1/News/26/gallery1.jpg" data-fancybox="Gallery_3" fancybox-gallery="">
					.gallery-item
						figure
							.boximg
								img(src="./img/thuvien/images/item_1.jpg", alt="")
							figcaption
								h2 album 1
			
				<a href="/Data/Sites/1/News/26/gallery1.jpg" data-fancybox="Gallery_4" fancybox-gallery="">
					.gallery-item
						figure
							.boximg
								img(src="./img/thuvien/images/item_1.jpg", alt="")
							figcaption
								h2 album 1
			
				<a href="/Data/Sites/1/News/26/gallery1.jpg" data-fancybox="Gallery_5" fancybox-gallery="">
					.gallery-item
						figure
							.boximg
								img(src="./img/thuvien/images/item_1.jpg", alt="")
							figcaption
								h2 album 1
			
				<a href="/Data/Sites/1/News/26/gallery1.jpg" data-fancybox="Gallery_1" fancybox-gallery="">
					.gallery-item
						figure
							.boximg
								img(src="./img/thuvien/images/item_1.jpg", alt="")
							figcaption
								h2 album 1