.recruitment.lapthanh-section
    .container
        h1.main-title Recruiment
        .row
            .searchbox
                .formgroup
                    input(type="text")
            .searchbox
                select Work place
                    option a
                    option a
                    option a
            .searchbox
                select Career
                    option a
                    option a
                    option a
            a.btn-submit(href="") search
        .row
            .table-main
                table
                    thead
                        tr
                            th position
                            th quantity
                            th area
                            th start day
                            th expiry day
                    tbody
                        tr.active
                            td Lorem ipsum dolor sit amet.
                            td 01
                            td Ho Chi Minh City
                            td 06/09/2019
                            td 26/10/2019
                        tr
                            td Lorem ipsum dolor sit amet.
                            td 01
                            td Ho Chi Minh City
                            td 06/09/2019
                            td 26/10/2019
                        tr
                            td Lorem ipsum dolor sit amet.
                            td 01
                            td Ho Chi Minh City
                            td 06/09/2019
                            td 26/10/2019