footer
	div.footer-contact
		.container
			.row
				.col-md-4
					.contact
						a(href="tel:842839979874")
						p
							span Hotline
							span +84 28 3997 9874
				.col-md-4
					.contact
						a(href="mailto:trangltc@yahoo.com")
						p
							span Email
							span trangltc@yahoo.com
				.col-md-4
					.contact
						a(href="")
						p
							span Brochure
							span IT Coporation pdf
	div.footer-nav(bg-img="./img/bg_footer.jpg" bg-img-mobile="./img/bg_footer.jpg")
		.container
			.row
				.col-lg-3
					.logo-footer
						img(data-src='./img/logo_footer.png', alt='').lazyload.blur-up
					.contact-info
						h2 Contact info
						a(href="https://goo.gl/maps/mUyuj2gGixaAJHqs8" target="_blank")
							em.mdi.mdi-map-marker
							span Lot I-10-2, D2 Str, Saigon High-Tech Park, Dist 9, HCM City, Vietnam
						a(href="tel:842839979874")
							em.mdi.mdi-phone
							span +84-28 3997 9874
						a(href="fax:842839979873")
							em.mdi.mdi-fax
							span +84-28 3997 9873
						a(href="mailto:trangltc@yahoo.com")
							em.mdi.mdi-email
							span trangltc@yahoo.com
					.social-links
						a(href="#")
							em.mdi.mdi-facebook
						a(href="#")
							em.mdi.mdi-youtube
						a(href="#")
							em.mdi.mdi-linkedin
				.col-lg-6.quick-links
					h2 Quicklinks
					.row
						.col-lg-6
							nav
								a(href="#") About us
								a(href="#") Business Field
								a(href="#") Project
								a(href="#") Partner
						.col-lg-6
							nav
								a(href="#") News
								a(href="#") Gallery
								a(href="#") Recruitment
				.col-lg-3
					h2 Newsletter
					p Give us your email and we'll get back to you
					.Module
						.subscribe
							div
								.subscribefrm
									input.subscribeemail(type='text', title='Nhập địa chỉ email hợp lệ.', placeholder='Địa chỉ email')
									button.subscribebutton Đăng ký
									span.fa.fa-exclamation-triangle(style="display: none") Vui lòng nhập email.
									span.fa.fa-exclamation-triangle(style="display: none") Email không hợp lệ.


	div.footer-info
		.container
			p 
				|© 2018 LAP THANH INVESTING FACTORIES FOR RENT CO., LTD. All Right Reserved. 
				a(href="https://canhcam.vn") Design by canh cam.