.business.lapthanh-section
	.container
		h1.main-title Business Field
		.row
			.gallery-list
				a.active(href="") Factory Leasing
				a(href="") Construction services
		.row
			.col-sm-6.col-lg-4
				.gallery-item
					figure
						.boximg
							img(src="./img/thuvien/images/item_1.jpg", alt="")
						figcaption
							h2 caisa factory
			.col-sm-6.col-lg-4
				.gallery-item
					figure
						.boximg
							img(src="./img/thuvien/images/item_1.jpg", alt="")
						figcaption
							h2 caisa factory
			.col-sm-6.col-lg-4
				.gallery-item
					figure
						.boximg
							img(src="./img/thuvien/images/item_1.jpg", alt="")
						figcaption
							h2 caisa factory
			.col-sm-6.col-lg-4
				.gallery-item
					figure
						.boximg
							img(src="./img/thuvien/images/item_1.jpg", alt="")
						figcaption
							h2 caisa factory
			.col-sm-6.col-lg-4
				.gallery-item
					figure
						.boximg
							img(src="./img/thuvien/images/item_1.jpg", alt="")
						figcaption
							h2 caisa factory
			.col-sm-6.col-lg-4
				.gallery-item
					figure
						.boximg
							img(src="./img/thuvien/images/item_1.jpg", alt="")
						figcaption
							h2 caisa factory