.gallery-videos.lapthanh-section
	.container
		h1.main-title Gallery
		.row
			.gallery-list
				a(href="gallery.html") Image
				a.active(href="gallery-videos.html") Video
		.row
			.col-sm-6.col-lg-4
				.gallery-item
					figure
						.boximg
							img(src="./img/thuvien/images/item_1.jpg", alt="")
							.play-btn
								img(src="./img/thuvien/videos/play-btn.png", alt="")
						figcaption
							h2 Album 1
			.col-sm-6.col-lg-4
				.gallery-item
					figure
						.boximg
							img(src="./img/thuvien/images/item_1.jpg", alt="")
							.play-btn
								img(src="./img/thuvien/videos/play-btn.png", alt="")
						figcaption
							h2 album 1
			.col-sm-6.col-lg-4
				.gallery-item
					figure
						.boximg
							img(src="./img/thuvien/images/item_1.jpg", alt="")
							.play-btn
								img(src="./img/thuvien/videos/play-btn.png", alt="")
						figcaption
							h2 album 1
			.col-sm-6.col-lg-4
				.gallery-item
					figure
						.boximg
							img(src="./img/thuvien/images/item_1.jpg", alt="")
							.play-btn
								img(src="./img/thuvien/videos/play-btn.png", alt="")
						figcaption
							h2 album 1
			.col-sm-6.col-lg-4
				.gallery-item
					figure
						.boximg
							img(src="./img/thuvien/images/item_1.jpg", alt="")
							.play-btn
								img(src="./img/thuvien/videos/play-btn.png", alt="")
						figcaption
							h2 album 1
			.col-sm-6.col-lg-4
				.gallery-item
					figure
						.boximg
							img(src="./img/thuvien/images/item_1.jpg", alt="")
							.play-btn
								img(src="./img/thuvien/videos/play-btn.png", alt="")
						figcaption
							h2 album 1