.news.lapthanh-section
	.container
		h1.main-title News
		.row
			.news-tab
				a(href="") News
				a(href="") For Investor
		.row.first-article
			.col-md-6
				.boximg
					img(src="./img/tintuc/item-1.jpg", alt="")
			.col-md-6
				figcaption
					h3 Yanase Vietnam brings unforgettable travel to employees
					p Vào ngày 13 tháng 7 vừa qua, Công ty TNHH Yanase Việt Nam – DN Nhật Bản đang hoạt động tại Khu nhà xưởng dịch vụ Lap Thanh đã tổ chức chuyến tham quan để kết nối các thành viên đến từ công ty mẹ – Yanase Corporation (trụ sở chính tại Tanba-Shi Hyogo-Ken) và công ty con tại Việt Nam. Yanase Việt Nam đã gắn bó và cùng phát triển với Lap Thanh từ năm 2014. Khởi đầu hành trình, các thành viên của Yanase Corporation đã ghé thăm Khu nhà xưởng Lap Thanh, nơi đặt nhà xưởng của Yanase Việt Nam...
					date 09/08/2018
		.row.other-articles
			.col-md-6
				.news-item
					figure
						.boximg
							img(src="./img/tintuc/item-2.jpg", alt="")
						figcaption
							h3 Unlocking the Investment potential in VN
							date 09/08/2018
			.col-md-6
				.news-item
					figure
						.boximg
							img(src="./img/tintuc/item-2.jpg", alt="")
						figcaption
							h3 Unlocking the Investment potential in VN
							date 09/08/2018
			.col-md-6
				.news-item
					figure
						.boximg
							img(src="./img/tintuc/item-2.jpg", alt="")
						figcaption
							h3 Unlocking the Investment potential in VN
							date 09/08/2018
			.col-md-6
				.news-item
					figure
						.boximg
							img(src="./img/tintuc/item-2.jpg", alt="")
						figcaption
							h3 Unlocking the Investment potential in VN
							date 09/08/2018
