.business-detail.lapthanh-section
	.container
		h1.main-title Business Filed
		.row
			.col-lg-6
				.boximg
					img(src="./img/business/chitiet/item-1.jpg", alt="")
			.col-lg-6
				.briefcontent
					h2 Thiết Kế Thi và Công Nhà Xưởng
					p Trong công trình xây dựng nhà xưởng, quy trình thiết kế thi công nhà xưởng công nghiệp đóng vai trò quan trọng nhất, là yếu tố quyết định đến chất lượng, đòi hỏi người thiết kế phải có trình độ chuyên môn cao, kinh nghiệm nhiều trong lĩnh vực xây dựng. Nhằm đáp ứng theo yêu cầu của quý khách hàng về tiêu chí thiết kế nhà xưởng, hãy đến với tập đoàn Lập Thành, chúng tôi hân hạnh được đồng hành cùng quý khách.
				.row
					.col-md-6
						.block
							.boxicon
								img(src="./img/business/chitiet/icon-1.png", alt="").lazyload.blur-up
							h2 Đảm bảo chất lượng
					.col-md-6
						.block
							.boxicon
								img(src="./img/business/chitiet/icon-2.png", alt="").lazyload.blur-up
							h2 Chi phí hợp lí
					.col-md-6
						.block
							.boxicon
								img(src="./img/business/chitiet/icon-3.png", alt="").lazyload.blur-up
							h2 Đội ngũ kỹ sư, thiết kế kinh nghiệm cao
					.col-md-6
						.block
							.boxicon
								img(src="./img/business/chitiet/icon-4.png", alt="").lazyload.blur-up
							h2 Thi công nhà xưởng nhanh chóng
.business-detail-2.lapthanh-section
	.container
		.row
			.col-lg-6
				.fullcontent
					h2 Quy trình thiết kế thi công nhà xưởng
					h3 Bước 1: Khảo sát thông tin từ khách hàng
					p Bước đầu tiên, Quang Phát sẽ thực hiện khảo sát và bàn bạc nhu cầu với khách hàng về nơi xây dựng nhà xưởng, cách thiết kế,…để chọn ra phương án phù hợp nhất.
					h3 Bước 2: Tiến hành kế hoạch thiết kế
					p Đội ngũ kiến trúc sư của chúng tôi sẽ bắt tay vào kế hoạch xây nhà xưởng:
						br
						|- Xem xét vị trí xây dựng, quy mô, hạng mục công trình.
						br
						|- Trao đổi với khách hàng về các vấn đề: lắp đặt cửa sắt, công nghệ, kết cấu chính, các thiết bị phòng cháy chữa cháy được trang bị và lắp đặt thế nào?
						br
						|- Tiến hành lên bản vẽ chi tiết về mặt bằng, tổng thể công trình, diện tích, số liệu kỹ thuật,… sao cho cụ thể, rõ ràng và chi tiết nhất.
					h3 Bước 3: Hoàn thành bản vẽ
					p Đây là bước vô cùng quan trọng bao gồm các thuyết minh về thiết kế nhà xưởng, bản vẽ, tài liệu khảo sát xây dựng, dự toán xây dựng công trình.
			.col-lg-6
				.boximg
					img(src="./img/business/chitiet/item-2.jpg", alt="")
