.banner-trangchu
    .swiper-container
        .swiper-wrapper
            a(href="#").swiper-slide
                img(data-src="./img/banner/home.jpg", alt="").swiper-lazy
                .swiper-lazy-preloader
            a(href="#").swiper-slide
                img(data-src="./img/banner/home.jpg", alt="").swiper-lazy
                .swiper-lazy-preloader
            a(href="#").swiper-slide
                img(data-src="./img/banner/home.jpg", alt="").swiper-lazy
                .swiper-lazy-preloader

        .swiper-pagination