.project-detail.lapthanh-section
	.container
		h1 Chia tay và hẹn gặp lại Công ty TNHH MTV SEAPAC VN
		time 09/08/2018

		.full-content
			p Located in the administrative center of District 10, possessing a prime location with outstanding advantages in a space full of sunshine, wind and greenery, Rivera Park Saigon like to wing more for those feelings of sublimation of life, bringing the owner to experience a perfect life, fully equipped with modern facilities, and enjoy green space right at home.
			br
			p With the main idea is to design apartments according to open space trends and scientific and rational layout to maximize the efficiency of area use. The apartments are designed with enough area but not tight but very open and able to receive good natural light, contributing to minimize the process of using artificial light and air conditioner
			br
			p With the desire to create good value for apartments, with the motto of quality of life as a top priority, Rivera Park brings the necessary utilities for the river every day and provides perfect services to share these needs of residents. We hope that future residents who come to Rivera Park Saigon can find the most peaceful place for me and my family.
			br
			img(data-src='./img/duan/3.jpg', alt='').lazyload.blur-up

		.news-other.projects
			.title
				h2 Other projects
			.news-other-slider
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a(href="/project-detail.html").project
								.img
									img(data-src='./img/duan/2.jpg', alt='').lazyload.blur-up
								.content
									p 2016
									h2 Blue ocean park i
									em.mdi.mdi-arrow-right
								.cover
						.swiper-slide
							a(href="/project-detail.html").project
								.img
									img(data-src='./img/duan/2.jpg', alt='').lazyload.blur-up
								.content
									p 2016
									h2 Blue ocean park i
									em.mdi.mdi-arrow-right
								.cover
						.swiper-slide
							a(href="/project-detail.html").project
								.img
									img(data-src='./img/duan/2.jpg', alt='').lazyload.blur-up
								.content
									p 2016
									h2 Blue ocean park i
									em.mdi.mdi-arrow-right
								.cover
						.swiper-slide
							a(href="/project-detail.html").project
								.img
									img(data-src='./img/duan/2.jpg', alt='').lazyload.blur-up
								.content
									p 2016
									h2 Blue ocean park i
									em.mdi.mdi-arrow-right
								.cover

					.swiper-buttons
						.btn-prev
							em.mdi.mdi-chevron-left
						.btn-next
							em.mdi.mdi-chevron-right